# Essential libraries for your Streamlit app
streamlit==1.25.0  # Ensure Streamlit is installed
gdown==5.2.0  # For downloading files
Pillow==10.3.0  # Image processing library
pandas==2.1.4  # Data handling and manipulation
scikit-learn==1.3.2  # Machine learning library
scikit-surprise==1.1.4  # For collaborative filtering and recommender systems
numpy==1.26.4  # Numerical operations
dask==2024.8.0  # For parallel computing, useful for large datasets
fuzzywuzzy==0.18.0  # For string matching
setuptools==68.0.0  # For package management
pip==24.2  # Python package installer

# Other required libraries
boto3==1.35.0  # AWS SDK for Python, in case you're using S3
python-levenshtein==0.25.1  # Required by fuzzywuzzy